.box-shadow-primary {
    box-shadow: 0 2px 14px 0 theme('colors.blue.500');
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-main {
    @apply text-blue-400;
}

.text-sub {
    @apply text-gray-600;
}

.text-disable {
    @apply text-gray-500;
}

.text-active {
    @apply text-blue-700;
}

.link {
    @apply text-blue-500;
}

.non-selective {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
